{% extends 'base.html' %}

{% block content %}
    <h1>Create Tournament</h1>
    <form method="post">
        {% csrf_token %}
        <label for="tournament_name">Tournament Name:</label>
        <input type="text" id="tournament_name" name="tournament_name"><br><br>
        <label for="tournament_description">Tournament Description:</label>
        <textarea id="tournament_description" name="tournament_description"></textarea><br><br>
        <label for="tournament_game">Tournament Game:</label>
        <select id="tournament_game" name="tournament_game">
            {% for game in games %}
                <option value="{{ game.id }}">{{ game.name }}</option>
            {% endfor %}
        </select><br><br>
        <label for="tournament_start_date">Tournament Start Date:</label>
        <input type="date" id="tournament_start_date" name="tournament_start_date"><br><br>
        <label for="tournament_end_date">Tournament End Date:</label>
        <input type="date" id="tournament_end_date" name="tournament_end_date"><br><br>
        <input type="submit" value="Create Tournament">
    </form>
{% endblock %}