{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Cash Out Gaming!</h1>
    <p>Cash Out Gaming is a platform where you can play games and win cash prizes.</p>
    <p>Our platform is designed to be user-friendly and easy to use, so you can focus on playing games and winning cash.</p>
    <p>We offer a variety of games to choose from, including tournaments and head-to-head matches.</p>
    <p>So why wait? Sign up now and start playing!</p>
    <button><a href="{% url 'register' %}">Sign up now!</a></button>
{% endblock %}