{% extends 'base.html' %}

{% block content %}
    <h1>Payment Status API</h1>
    <div class="payment-status-api-container">
        <h2>Payment Status API</h2>
        <p>Use our payment status API to retrieve the status of a payment.</p>
        <h2>API Endpoints</h2>
        <table>
            <tr>
                <th>Endpoint</th>
                <th>Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>/payment-status</td>
                <td>GET</td>
                <td>Retrieve the status of a payment</td>
            </tr>
        </table>
        <h2>API Request Examples</h2>
        <p>Here are some examples of API requests you can make to our payment status API:</p>
        <pre>
            // Retrieve the status of a payment
            curl -X GET \
              https://example.com/payment-status \
              -H 'Content-Type: application/json' \
              -d '{"payment_id": 1}'
        </pre>
        <h2>API Response Examples</h2>
        <p>Here are some examples of API responses you can expect from our payment status API:</p>
        <pre>
            // Retrieve the status of a payment response
            {
              "payment_id": 1,
              "status": "paid"
            }
        </pre>
    </div>
{% endblock %}