{% extends 'base.html' %}

{% block content %}
    <h1>Register for Cash Out Gaming</h1>
    <form method="post">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username">
        <br>
        <label>Email:</label>
        <input type="email" name="email">
        <br>
        <label>Password:</label>
        <input type="password" name="password1">
        <br>
        <label>Confirm Password:</label>
        <input type="password" name="password2">
        <br>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login now!</a></p>
{% endblock %}