{% extends "base.html" %}

{% block content %}
    <h1>Tournaments</h1>
    <ul>
        {% for tournament in tournaments %}
            <li>{{ tournament.name }} - {{ tournament.start_date }} - {{ tournament.end_date }}
                <button><a href="{{ url_for('join_tournament', tournament_id=tournament.id) }}">Join</a></button>
            </li>
        {% endfor %}
    </ul>
    <h2>Upcoming Tournaments</h2>
    <ul>
        {% for tournament in upcoming_tournaments %}
            <li>{{ tournament.name }} - {{ tournament.start_date }} - {{ tournament.end_date }}
                <button><a href="{{ url_for('join_tournament', tournament_id=tournament.id) }}">Join</a></button>
            </li>
        {% endfor %}
    </ul>
    <h2>Past Tournaments</h2>
    <ul>
        {% for tournament in past_tournaments %}
            <li>{{ tournament.name }} - {{ tournament.start_date }} - {{ tournament.end_date }}
                <button><a href="{{ url_for('view_tournament', tournament_id=tournament.id) }}">View</a></button>
            </li>
        {% endfor %}
    </ul>
    <button><a href="{{ url_for('create_tournament') }}">Create Tournament</a></button>
{% endblock %}