{% extends 'base.html' %}

{% block content %}
    <h1>Wagers</h1>
    <ul>
        {% for wager in wagers %}
            <li>{{ wager.name }} ({{ wager.amount }})</li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        <label for="wager_name">Create Wager:</label>
        <input type="text" id="wager_name" name="wager_name"><br><br>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount"><br><br>
        <input type="submit" value="Create">
    </form>
{% endblock %}