Django>=3.2,<5.0
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
requests==2.25.1
twitchio==2.0.0
paypalrestsdk==1.13.1
djangorestframework==3.12.4
django-cors-headers==3.7.0
psycopg2-binary==2.9.3
stripe==2.60.0
paypalrestsdk==1.13.1
cashapp==0.1.1
Django==3.2.5
psycopg2-binary==2.9.3