{% extends 'base.html' %}

{% block content %}
    <h1>{{ tournament.name }}</h1>
    <p>{{ tournament.description }}</p>
    <h2>Matches</h2>
    <ul>
        {% for match in matches %}
            <li>
                {{ match.player1.username }} vs {{ match.player2.username }}
                {% if match.winner %}
                    (Winner: {{ match.winner.username }})
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <button><a href="{% url 'create_match' tournament.pk %}">Create Match</a></button>
{% endblock %}